/*
FORMAT OF THIS FILE:

First there is a selector or class selector, say a div.
Then if it increases in specificity by adding another element or class, BUT is an element
contained by the previous one, we add a margin

div {
	//stuff
}
	div span {
		//stuff
	}

Because here, we're talking about a span INSIDE the div. So we pt them together.
This makes it easier to find what you're looking for since you can visualize how it would be
set up in the HTML file. It makes it harder to skim through everything by scrolling but
I decided that the benefits outweighs this.

THings can be seperated however. For example I made a sperate section for the buy buttons,
even though I refer specifically to those inside the .Option class.
*/


/***** GENERAL CSS *****/

/* options/products/services listings */
.packages {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
	color: white;
}
	.packages .Option-Select {
		font-size: 30px;
		text-align: left;
		color: #333;
	}
	.packages .Option-Select span {
		/*outline: 2px solid #333;*/
		text-shadow: 	0px -1px 0px rgba(82, 82, 82, 1),
						0px 1px 0px rgba(82, 82, 82, 1),
						-1px 0px 0px rgba(82, 82, 82, 1),
						1px 0px 0px rgba(82, 82, 82, 1);
		color: white;
	}

	.Option {
		/*border: 1px solid black;*/
		padding-bottom: 20px;
		padding-top: 20px;
		margin-top: 20px;
		background-color: #333;
	}
		.Option section {
			padding-top: 10px;
			padding-bottom: 10px;
		}
			.Option .Option-Header {
				padding-top: 0;
			}
			.Option .Option-Price {
				background-color: #555;
				padding-top: 15px;
				padding-bottom: 15px;
				color: white;
			}
			.Option .Option-ItemsIncluded {
				font-size: 13px;
				text-align: left;
				margin-right: 28px;
				margin-left: 28px;
				line-height: 1.3;
			}
				.Option .Option-ItemsIncluded p {
					text-indent: -13px;
				}
		.Option h4 {
			font-size: 30px;
			margin: 0;
		}
		.Option span span {
			font-size: 12px;
			font-style: italic;
		}



/* sticker | currently UNUSED | was as a header, a bit like "on Sale!" sticker */
.Sticker-Recommended {
	text-align: center;
	display: block;
	background-color: red;
	color: white;
	font-size: 20px;
	font-style: italic;
	margin-top: -20px;
	margin-bottom: 10px;
}


/* buy buttons */
.Option .st-btn-buy {
  font-size: 16px;
  font-weight: bold;
  /* border/box-shadow effect */
  -webkit-box-shadow: 0px 0px 10px 2px rgba(111,111,111,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(111,111,111,1);
  box-shadow: 0px 0px 10px 2px rgba(111,111,111,1);/**/

    -webkit-box-shadow: 0px 0px 0px 0px rgba(111,111,111,1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(111,111,111,1);
  box-shadow: 0px 0px 0px 0px rgba(111,111,111,1);/**/

  border-radius: 25px;

  background-color: #bf1200;
  color: white;
}
	.Option .st-btn {
	  margin-top: 14px;
	  margin-bottom: 14px;
	}
		.st-btn a {
		  padding: 14px 20px;
			-webkit-transition: 0.1s; /* Safari */
    		transition: 0.1s;
		}
			.st-btn a:hover, .st-btn a:focus {
				text-decoration: none;
				color: #bf1200;
				background-color: white;
			}

/**** End of General CSS ****/




/*** Specific to each Option ***/

/* Orange */
.Option-1 {
	background-color: #F2581A;
}
	.Option-1 .Option-Price {
		background-color: #ff7f4c;
	}

/* blue */
.Option-2 {
	background-color: #346DA6;
}
	.Option-2 .Option-Price {
		background-color: #789cc1;
	}

/* grey */
.Option-3 {
	background-color: #666;
}
	.Option-3 .Option-Price {
		background-color: #888;
	}

/* yellow gold */
.Option-4 {
	background-color: #ecbb05;
}
	.Option-4 .Option-Price {
		background-color: #efc939;
	}

/** Alternative Colors **/
/* green */
.Option-5 {
	background-color: #27ad2c;
}
	.Option-5 .Option-Price {
		background-color: #4ace4e;
	}

/* purple */
.Option-6 {
	background-color: #7828ba;
}
	.Option-6 .Option-Price {
		background-color: #9a45e0;
	}


/* dark-grey background, colored header */
.Option-7, .Option-8, .Option-9, .Option-10 {
	background-color: #333;
}	
	/* yellow orange */
	.Option-7 .Option-Price {
		background-color: #9e5e00;
	}
	/* orange */
	.Option-8 .Option-Price {
		background-color: #9e3900;
	}
	/* red */
	.Option-9 .Option-Price {
		background-color: #600000;
	}
	/* orange */
	.Option-10 .Option-Price {
		background-color: #9e3900;
	}


/* silver background, colored header */
.Option-7, .Option-8, .Option-9, .Option-10 {
	background-color: #444;
	background-color: #111;
	background-color: #BBB;
	color: black;
}	
	/* yellow orange */
	.Option-7 .Option-Price {
		background-color: #9e5e00;
		background-color: #F2581A;
		background-color: #9e3b09;
	}
	/* orange */
	.Option-8 .Option-Price {
		background-color: #9e3900;
		background-color: #346DA6;
		background-color: #111972;
	}
	/* red */
	.Option-9 .Option-Price {
		background-color: #600000;
	}
	/* orange */
	.Option-10 .Option-Price {
		background-color: #9e3900;
		background-color: #ecbb05;
		background-color: #d1a400;
	}
	.Option-Price {
		color: #CCC;/**/
	}

/* not good, red background colored headers */
.Option-7, .Option-8, .Option-9, .Option-10 {
	background-color: #600000;
	color: white;
}	
	/* yellow orange */
	.Option-7 .Option-Price {
		background-color: #9e3b09;
	}
	/* orange */
	.Option-8 .Option-Price {
		background-color: #111972;
	}
	/* red */
	.Option-9 .Option-Price {
		background-color: #222;
	}
	/* orange */
	.Option-10 .Option-Price {
		background-color: #d1a400;
	}
	.Option-Price {
		color: #CCC;/**/
	}

/* not good, red background colored headers *
.Option-7, .Option-8, .Option-9, .Option-10 {
	background-color: #333;
	color: white;
}/**/
	/* yellow orange */
	.Option-7 .Option-Price, .Option-8 .Option-Price, .Option-9 .Option-Price, .Option-10 .Option-Price {
		background-color: #600000;
		background-color: #a40000;
		background-color: #111;
	}
	.Option-Price {
		color: #CCC;/**/
	}






/* need to fix this somewhere later - temporary CSS *
body {
	background-color: #3a0707;
	background-color: #300909;
	background-color: #EEE;
	background-color: #000;
}

.packages .Option-Select {
	color: white;
}/**/