
/* Custom CSS, other than just changing the colors */
.navbar-default {
  margin: 0;
}
.navbar-static-top {
  border: 0px;/*
  -webkit-box-shadow: 0px -1px 12px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    0px -1px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow:         0px -1px 12px 0px rgba(255, 255, 255, 0.75);

  -webkit-box-shadow: 0px 5px 12px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    0px 5px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow:         0px 5px 12px 0px rgba(255, 255, 255, 0.75);*/
}

/* Responsive nav - for some reason, it doesn't need to be "responsive". It works as is. Don't touch it*/
#sl-responsive-nav li {
  text-align: center;
}



#elevator-pitch {
  background-color: #DDDDDD;
  background-color: black;
  background-color: #bf1200;
  color: white;
  padding: 0px;
  padding-top: 10px;
}
#elevator-pitch section {
  background-color: #ae0404;
  border: 30px solid #ae0404;
  border-radius: 30px;
}
#elevator-pitch span {
  border-bottom: 4px solid white;
}
#elevator-pitch h1, #elevator-pitch h2 {
  line-height: 1.4;
  margin-top: 0;
}


/**** About Us ******/
#about {
  background-color: #e5e5e5;
  display: none;
}
#about p, #about h4 {
  
}
#about-title {
  text-align: center;
  
}

/* Profile */

.profile-card img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}
.profile-card {
  text-align: center;
  padding: 30px;
}

#profiles {
  padding: 20px;
  border-radius: 80px;
}

/** end of about us**/

/* bigger than mobile screens*/
@media (min-width: 768px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }
  /* elevator pitch */
  #elevator-pitch {
  padding: 50px;
}

/* only small devices */
@media (max-width: 767px) {

  /* elevator pitch */
  #elevator-pitch {
    padding-left: 0;
    padding-left: 0;
    margin: 0;
    padding: 0;
  }
  #elevator-pitch h1, #elevator-pitch h2 {
    font-size: 1px;
    background-color: blue;
  }
  #elevator-pitch span {
    border-bottom: 2px solid white;
  }
  .container {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1px;
  }
  #elevator-pitch section {
    background-color: #ae0404;
    border: 0px solid #ae0404;
    border-radius: 10px;
  }

}