
/* Custom CSS, other than just changing the colors */
.navbar-default {
  margin: 0;
}
.navbar-static-top {
  border: 0px;/*
  -webkit-box-shadow: 0px -1px 12px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    0px -1px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow:         0px -1px 12px 0px rgba(255, 255, 255, 0.75);

  -webkit-box-shadow: 0px 5px 12px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    0px 5px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow:         0px 5px 12px 0px rgba(255, 255, 255, 0.75);*/
}

/* Responsive nav - for some reason, it doesn't need to be "responsive". It works as is. Don't touch it*/
#sl-responsive-nav li {
  text-align: center;
}



#elevator-pitch {
  background-color: #DDDDDD;
  background-color: black;
  background-color: #bf1200;
  color: white;
  padding: 0px;
  padding-top: 10px;
}
#elevator-pitch section {
  background-color: #ae0404;
  border: 30px solid #ae0404;
  border-radius: 30px;
}
#elevator-pitch span {
  border-bottom: 4px solid white;
}
#elevator-pitch h1, #elevator-pitch h2 {
  line-height: 1.4;
  margin-top: 0;
}


/**** About Us ******/
#about {
  background-color: #e5e5e5;
  display: none;
}
#about p, #about h4 {
  
}
#about-title {
  text-align: center;
  
}

/* Profile */

.profile-card img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}
.profile-card {
  text-align: center;
  padding: 30px;
}

#profiles {
  padding: 20px;
  border-radius: 80px;
}

/** end of about us**/

/* footer */
#st-footer {
  background-color: #333;
  padding-bottom: 30px;
  height: 300px;
  color: white;
  text-align: center;
}
/* social media and email buttons */
#st-btn-contactUs-email,
#st-btn-contactUs-facebook,
#st-btn-contactUs-twitter {
  font-size: 20px;
  font-weight: bold;
  /* border/box-shadow effect */
  -webkit-box-shadow: 0px 0px 10px 2px rgba(111,111,111,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(111,111,111,1);
  box-shadow: 0px 0px 10px 2px rgba(111,111,111,1);/**/

  border-radius: 5px;
}
#st-btn-contactUs-email {
  background-color: white;
  color: black;
  color: #bf1200;
}
#st-btn-contactUs-facebook {
  background-color: #3b5998;
  color: white;
}
#st-btn-contactUs-twitter {
  background-color: #1DA1F2;
  color: white;
}
/*** Buttons ***/

/* backToTheTop */
#st-backToTheTop {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  background-color: #555;
  background-color: #333;
  background-color: #111;
  /* button effect */
  -webkit-box-shadow: 0px 0px 10px 2px rgba(000,000,000,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(000,000,000,1);
  box-shadow: 0px 0px 10px 2px rgba(000,000,000,1);
}
#st-backToTheTop:hover {
  background-color: #333;
  background-color: #000;
}
#st-backToTheTop a {
  display: block;
  color: #DDD;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
}
#st-backToTheTop a:hover,#st-backToTheTop a:focus {
  color: white;
}

/* social media buttons */
.st-btn-contactUs {
  margin-top: 15px;
  margin-bottom: 15px;
}
.st-btn-contactUs a {
  padding: 15px 30px;
}

/***** CUSTOM RESPONSIVENESS ***/

/* bigger than mobile screens*/
@media (min-width: 768px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }
  /* elevator pitch */
  #elevator-pitch {
  padding: 50px;
}

/* only small devices */
@media (max-width: 767px) {

  /* elevator pitch */
  #elevator-pitch {
    padding-left: 0;
    padding-left: 0;
    margin: 0;
    padding: 0;
  }
  #elevator-pitch h1, #elevator-pitch h2 {
    font-size: 1px;
    background-color: blue;
  }
  #elevator-pitch span {
    border-bottom: 2px solid white;
  }
  .container {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1px;
  }
  #elevator-pitch section {
    background-color: #ae0404;
    border: 0px solid #ae0404;
    border-radius: 10px;
  }

}