html, header, body, nav, section, article, div { margin: 0; padding: 0; }/* removes all margins */

p, h1, h2, h3, h4, h5, h6 { font-size: 1em; margin-top: 0.3em; margin-bottom: 0.3em; }/* sets all font-sizes to 1em, at the same size */

* { box-sizing: border-box }

.wrapper {
	font-size: 120%;
	line-height: 1.4;
	margin-left: 1%;
	margin-right: 1%;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	margin-top: 18px;
	margin-bottom: 18px;
	font-size: 1.75em;
	text-align: center;
}

.title {
	font-size: 1.25em;
	margin: 0;
	display: inline;
}

.title > h3 {
	padding-right: 1.3em;
	padding-left: 1.3em;
	padding-bottom: 0.1em;
	padding-top: 0.1em;

	border-bottom: 3px solid black;
	border-left: 3px solid black;

	margin: 0;
	float: right;
}

article {
	padding-left: 2%;
	padding-right: 2%;
	clear: right;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
}

.float-col-01, .float-col-02, .float-col-03 {
	float: left;
	width: 100%;
}

.small-border-and-margin { margin-left: 2%; margin-right: 2%; border: 3px solid black; }


/* making things responsive */
@media (min-width: 992px) {
	.float-col-01, .float-col-02, .float-col-03 {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.float-col-01, .float-col-02 {
		width: 50%;
	}
	.float-col-03 {
		width: 100%;
		margin-top: 2%;
	}
}

@media (max-width: 767px) {
	.float-col-01, .float-col-02, .float-col-03 {
		margin-top: 2%;
	}
}